<h1 class="align-c">Are you sure you want to delete <%= @post.title %>?</h1>
<hr>
<div class="align-c" style="margin-top:30px"><a class="btn btn-default" href="/">Cancel</a> <a class="btn btn-danger" href="/<%= @post.id %>/delete/confirm">Confirm</a></div>
