<% @page_title = @post.title %>

<div id="markdownContainer"><%= @post.description %></div>

<% if @post.homepage %><a href="<%= @post.homepage %>" target="_blank">Go To Project</a> | <% end %><a href="/<%= @post.id %>/edit">Edit</a> | <a href="/<%= @post.id %>/delete">Delete</a> | <a href="/">All Items</a>

<script>
	$(function(){
		var $markdownContainer = $('#markdownContainer');
		var converter = new showdown.Converter(),
			markdown  = $markdownContainer.html(),
			html      = converter.makeHtml(markdown);
		$markdownContainer.html(html);
	});
</script>