<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>myConfig</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <%= yield %>
	        </div>
	    </div>
	</div>
	<script>
		$(function(){
			//console.log("JQuery is loaded.")
		})
	</script>
</body>
</html>